div{
    text-align:center;

}

img{
    height: auto;
    width: 500px;
    position: relative;left: 32%;
}

*{
    background-color: lightblue;
}

.subheader#top-subheader{
    text-align:center;
    color:blueviolet;
    font-weight: bold;
}

.subheader{
    color: blueviolet;
}


.description1,
.description2{
    color: black;
    text-align:center;
}

ul {
    padding-left: 43%;
}

